.menuItem:hover{
    -fx-border-color: #5271FF;
    -fx-border-width: 0px 0px 0px 4px;
    -fx-background-radius: 0 6 6 0;
    -fx-background-color: #dadada;
}

.sidebarItem:hover{
    -fx-background-color: #757575;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}

.sidebarShadow{
    -fx-effect: dropshadow(three-pass-box, rgba(149, 157, 165, 1), 30,0,0, 0);
}

.white-background{
    -fx-background-color: #fff;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.light-gray-background{
    -fx-background-color: #F3F3F3;
}

.addNoticeBtn{
    -fx-background-color: #5271FF;
    -fx-text-fill: #ffff;
}

.cancelNoticeBtn{
    -fx-background-color: #6b6b6b;
    -fx-text-fill: #ffff;
}

.detailsShadow{
    -fx-effect: dropshadow(three-pass-box, rgba(149, 157, 165, 1), 20,0,0, 0);
}
